body::-webkit-scrollbar {
  display: none;
}
body {
  background-color: #ffc857;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}
.welcome-container {
  background-color: red;
  width: 30vw;
  height: 30vh;
  position: absolute;
}
main {
  background-color: #00171f;
  width: 80vw;
  height: 80vh;
  border-radius: 3rem;
}

.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
  transition: visibility 1s;
}

/* animations */
.scale-down-center {
  -webkit-animation: scale-down-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-down-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
.slide-top {
  -webkit-animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(50vh);
    transform: translateY(50vh);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(80vh);
    transform: translateY(80vh);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
