body::-webkit-scrollbar {
  display: none;
}
body {
  background-color: #ffc857;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30vw;
  height: auto;
  position: absolute;
  cursor: pointer;
}
.welcome-container h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 4rem;
  font-family: "Caveat", cursive;
  font-weight: 400;
}
.welcome-container span {
  font-size: 4.4rem;
  font-weight: 900;
}
.welcome-container p {
  font-family: "Roboto Slab", serif;
  text-align: end;
  font-size: 1.2rem;
  margin-bottom: 0;
}
main {
  background-color: #00171f;
  width: 90vw;
  min-width: 600px;
  height: 90vh;
  display: flex;
  padding: 3rem 2rem;
  border-radius: 3rem;
  box-shadow: -20px 24px 37px -16px #00171f;
  box-sizing: border-box;
  gap: 1rem;
}
aside {
  height: 100%;
  min-width: 250px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.profile-container {
  display: flex;
  flex-direction: column;
  height: 5rem;
  width: 100%;
  margin-top: 1rem;
  overflow: hidden;
  max-height: 12rem;
  transition: height 0.8s;
}
.profile {
  background-color: #1a1d27;
  width: 100%;
  height: 5rem;
  margin-top: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  font-family: "Roboto Slab", serif;
  color: #cec5c5;
  cursor: pointer;
}
.profile img {
  height: 75%;
  width: auto;
  border-radius: 50%;
  margin-left: 1rem;
}
.info {
  background-color: #1a1d27;
  color: #cec5c5;
  text-align: right;
  padding-right: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.info p {
  cursor: pointer;
  font-family: "Roboto Slab", serif;
}


.profile-height {
  height: 15rem;
  transition: height 0.8s;
}
.main-modules,
.to-learn,
.extras {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-top: 2px solid #4cac31;
  margin-top: 1rem;
}
.left-bottom {
  width: 100%;
  position: relative;
  bottom: -4rem;
}
.head {
  font-family: "Asap", sans-serif;
  color: #4cac31;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.known,
.learn,
.git {
  width: 100%;
  height: auto;
  background-color: #1a1d27;
  font-family: "Roboto Slab", serif;
  font-size: 0.8rem;
  color: #cec5c5;
  cursor: pointer;
  border-radius: 0.4rem;
  transition: transform 0.5s;
}
.known p,
.learn p {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  gap: 1rem;
}
.git a {
  display: flex;
  align-items: center;
  margin: 0.8rem 1rem;
  gap: 1rem;
  font-family: "Roboto Slab", serif;
  color: #cec5c5;
  text-decoration: none;
}
.known:hover,
.learn:hover,
.git:hover {
  transform: translateX(0.3rem);
}

.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.position{
    position: absolute;
}

/* SECTION STYLES */

section {
    /* background-color: grey; */
    height: 100%;
    min-width: 250px;
    width: 100%;
    border-left: 2px solid #4cac31;
    display: flex;
    align-content: center;
  }
.section-about-me{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: #cec5c5;
    gap: 2rem;
    font-family: "Roboto Slab", serif;
}
.section-about-me img {
    width:80%;
    min-width: 30%;
    height: auto;
    border-radius: 1rem;
}
.section-contact{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: #cec5c5;
    gap: 1rem;
    font-family: "Roboto Slab", serif;
}
.section-contact p:first-of-type{
    font-size: 1.5rem;
    font-weight: 700;
}
.con-link{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}


/* Google icons style */

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 40;
}

/* Mobile breakpoints */

@media only screen and (max-width: 576px) {
  .welcome-container {
    width: 60vw;
  }
  .welcome-container h1 {
    font-size: 3rem;
  }
  .welcome-container span {
    font-size: 3.5rem;
  }
  .welcome-container p {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 576px) {
  .welcome-container {
    width: 50vw;
  }
  .welcome-container h1 {
    font-size: 3rem;
  }
  .welcome-container span {
    font-size: 3.5rem;
  }
  .welcome-container p {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 768px) {
  .welcome-container {
    width: 55vw;
  }
  .welcome-container h1 {
    font-size: 3rem;
  }
  .welcome-container span {
    font-size: 3.5rem;
  }
  .welcome-container p {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 992px) {
  .welcome-container {
    width: 50vw;
  }
  .welcome-container h1 {
    font-size: 4rem;
  }
  .welcome-container span {
    font-size: 3rem;
  }
  .welcome-container p {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  .welcome-container {
    width: 40vw;
  }
  .welcome-container h1 {
    font-size: 4rem;
  }
  .welcome-container span {
    font-size: 3.4rem;
  }
  .welcome-container p {
    font-size: 1.2rem;
  }
}

/* animations */
.scale-down-center {
  -webkit-animation: scale-down-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-down-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}
.slide-top {
  -webkit-animation: slide-top 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(50vh);
    transform: translateY(50vh);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(80vh);
    transform: translateY(80vh);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
